.header {
  padding: 23px 0;

  background-color: $color-black;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $color-default-white;
  }

  &__tel {
    height: max-content;
    margin: 0 76px 0 0;
    font-family: $ff-rubik;
    color: $color-default-white;
    white-space: nowrap;
  }

  &__busket {
    position: relative;
    outline: none;
    padding: 0;
    border: none;
    color: $color-default-white;
    background-color: $color-transparent;
    cursor: pointer;
  }

  &__busket-number {
    display: inline-block;
    position: absolute;
    bottom: -2px;
    right: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 16px;
    font-size: 12px;
    color: $color-default-black;
    background-color: $color-selective-yellow;
  }
}
