.main-nav {

  &__wrapper {
    height: 100%;
  }

  &__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    margin: 0 48px 0 104px;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: $color-default-white;
    white-space: nowrap;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }
}
