mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "faq.html",
        text: "FAQ"
      },
      {
        href: "payment.html",
        text: "Оплата и доставка"
      },
      {
        href: "return.html",
        text: "Возврат"
      },
            {
        href: "research.html",
        text: "Исследования"
      },
            {
        href: "office.html",
        text: "Личный кабинет"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        +picture("content","logo",'png',120,35,'logo')
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +picture("content","logo",'png',120,35,'logo')
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
      a.header__tel(href="tel:+78006000990") 8 (800) 600-09-90
      button.header__busket(type="button" aria-label="открыть корзину")
        +icon("icon-busket",32,28)
        span.header__busket-number 1
